<div id="content">
    <div class="card mycard">
        <img style="height: 34rem;" src="{{food.picture}}" class="card-img-top" alt="...">
        <div class="card-body body">
            <div id="textfield">
                <h3 class="card-title text">{{food.foodname}}</h3>
                <p class="card-text text">Price: {{food.price | currency:'€'}}</p>
                <p class="card-text text">{{food.description}}</p>
            </div>
            <div id="buttonfield">
                <button (click)="addToCart()" class="btn btn-outline-success">Put in Cart</button>
                <button routerLink="/menu" class="btn btn-outline-danger mt-2">Go to Menu</button>
            </div>
        </div>
    </div>
</div>