#heading {
    text-align: center;
    margin: 5vh 0;
    font-family: Great Vibes, cursive;
    font-size: 6vh;
}

.mycard {
    width: 18rem;
    height: 21rem;
}

img {
    height: 12rem;
}

#cardbody {
    text-align: center;
}

#btncontainer {
    display: flex;
    align-items: flex-start;
}

#alternatetext {
    color: red;
    text-align: left;
}