<div style="min-height: 80vh;">
    <div id="contboth">
        <div *ngIf="price > 0">
            <ul class="list-group" id="group-food">
                <li class="list-group-item" style="background-color:rgb(245, 245, 245);">
                    <h3>Cart - {{this.numberItems}} Items</h3>
                </li>
                <li *ngFor="let item of items; index as i" class="list-group-item">
                    <div id="display-food">
                        <div>
                            <img height="150vh" width="200vh" src="{{item.picture}}" alt="">
                        </div>
                        <div>
                            <h5> {{item.foodname}}</h5>
                            <h5> Price: {{item.price | currency: '€'}}</h5>
                            <p> Description: {{item.description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="price > 0">
            <ul class="list-group" id="group-prices">
                <li class="list-group-item" style="background-color:rgb(245, 245, 245);">
                    <h3>Summary</h3>
                </li>
                <li class="list-group-item">
                    <div>
                        <div class="item">
                            <p> Products </p>
                            <p>{{this.price | currency: '€'}}</p>
                        </div>
                        <div class="item">
                            <p> Service: </p>
                            <p>{{this.price * 0.1 | currency: '€'}}</p>
                        </div>
                        <div class="item">
                            <p> Discount: </p>
                            <p *ngIf="price > 40">15%</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <div id="total">
                            <h5>Total Amount (including VAT)</h5>
                            <ng-template [ngIf]="price > 40" [ngIfElse]="none">
                                <h5> {{this.price * 0.85 + this.price * 0.1 | currency: '€' }}</h5>
                            </ng-template>
                            <ng-template #none>
                                <h5> {{this.price + this.price * 0.1 | currency: '€'}}</h5>
                            </ng-template>
                        </div>
                        <div id="clearbtn">
                            <button (click)="clearCart()" class="btn btn-danger"> Clear Cart</button>
                        </div>
                        <br>
                        <hr>
                        <h2 id="orderform"> Order Form</h2>
                        <form [formGroup]="subscribeform" (ngSubmit)="orderDone()">
                            <div class="input-label">
                                <label for="yourname">Your Name&nbsp;</label>
                                <input id="yourname" type="text" formControlName="yourname">
                            </div>
                            <div class="input-label">
                                <label for="paymentmethod">Paymentmethod&nbsp;</label>
                                <input id="paymentmethod" type="text" formControlName="paymentmethod">
                            </div>
                            <div class="input-label">
                                <label for="adress">Adress&nbsp;</label>
                                <input id="adress" type="text" formControlName="adress">
                            </div>
                            <div id="submitbtn">
                                <button style="margin: 1vh 8vh;" routerLink="/menu" class="btn btn-danger"> Back to Menu</button>
                                <input type="Submit" style="margin: 1vh 8vh;" class="btn btn-success" value="Submit Order" [class.disabled]="!subscribeform.valid">
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>